.card{
    border:solid 5px #FFCC40;
    border-radius:2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15rem;
   
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;
}
h2{
    padding: 2rem;
}
h3{
    padding: 2rem;
}
.card-btn{
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.8rem;
    color: #FFCC40;
    background-color: #1a202c;
    border-color: #FFCC40;
}
.card-btn:hover{
    background-color: #22FBBD;
}